.delete {
    color: white;
    background-color: red;
    border-radius: 5px;
    border: none;
}

.create {
    background-color: coral;
    border-radius: 5px;
    border: none;
}

.move {
    background-color: aqua;
    border-radius: 5px;
    border: none;
}

.button {
    display: flex;

}

.button button {
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}

.list {
    background: #eee;

}

table tr:nth-child(odd) td {
    background: #fff;
}

.box {
    border: 2px solid #aaa;
    width: 60%;
    padding-top: 20px;
}

.list-box {
    border: 2px solid #aaa;
    width: 70%;

}

label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    height: 40px;
    margin-left: 20px;
}

.detail-box {
    margin-left: 20px;
}

.card-body {
    margin-left: 20px;
}